.termo {
    background-color: darkkhaki;
    text-align: center;
    font-size: 20px;
}
.kilometro {
    padding: 10px;
    justify-content: center;
}
#nombre {
    width: 70%;
    height: 30px;
}
#precio {
    width: 70%;
    height: 30px;
}
#stock {
    width: 70%;
    height: 30px;
}
#marca {
    width: 70%;
    height: 30px;
    text-align: center;
}
#foto {
    text-align: center;
}
#detalles {
    width: 50%;
}






body {
    background-image: url(../IMG/Noche.jpg);
    color: white;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: monospace;
}
.cara {
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, .4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 5px;
}
h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;

}
.b, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: #31384a;
    color: #fff;
    padding: 20px;
    width: 100%;
}
#boton:hover {
    cursor: pointer;
}
@media (max-width: 480px) {
    form {
        width: 100%;
    }
}