*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nosotros {
    & h1 {
    text-align: center;
    background-color: steelblue;
    }

    & {
        background-color: steelblue;
        text-align: center;
        font-size: 30px;  
        padding: 30px;
        
    }

}

